django_ajax/django_ajax/__pycache__/__init__.cpython-38.pyc
django_ajax/django_ajax/__pycache__/asgi.cpython-38.pyc
django_ajax/django_ajax/__pycache__/settings.cpython-38.pyc
django_ajax/django_ajax/__pycache__/urls.cpython-38.pyc
django_ajax/django_ajax/__pycache__/wsgi.cpython-38.pyc
django_ajax/uploads/test_6Ka4sED.txt
django_ajax/uploads/test_9GYIknc.txt
django_ajax/uploads/test_aXeIqBD.txt
django_ajax/uploads/test_B59e6Xx.txt
django_ajax/uploads/test_B94MsMo.txt
django_ajax/uploads/test_epKwjZM.txt
django_ajax/uploads/test_eu5W415.txt
django_ajax/uploads/test_EWHHb8m.txt
django_ajax/uploads/test_g9tXvMl.txt
django_ajax/uploads/test_gnm9Nw1.txt
django_ajax/uploads/test_hmTSQg1.txt
django_ajax/uploads/test_Ic7q2AF.txt
django_ajax/uploads/test_iWaoLYA.txt
django_ajax/uploads/test_j3oiM2F.txt
django_ajax/uploads/test_kkJ8WBR.txt
django_ajax/uploads/test_kRnM37y.txt
django_ajax/uploads/test_pRBctYl.txt
django_ajax/uploads/test_S0POx3z.txt
django_ajax/uploads/test_S3dmYpc.txt
django_ajax/uploads/test_t5Qa48C.txt
django_ajax/uploads/test_Whl5VlT.txt
django_ajax/uploads/test_wMJFpiX.txt
django_ajax/uploads/test_XAIEBV0.txt
django_ajax/uploads/test.txt
django_ajax/ajax_test/migrations/__pycache__/__init__.cpython-38.pyc
django_ajax/ajax_test/migrations/__pycache__/0001_initial.cpython-38.pyc
django_ajax/ajax_test/migrations/__pycache__/0002_fileupload_status.cpython-38.pyc
django_ajax/ajax_test/migrations/__pycache__/0003_auto_20210324_1219.cpython-38.pyc
django_ajax/ajax_test/migrations/__pycache__/0004_auto_20210324_1302.cpython-38.pyc
django_ajax/ajax_test/migrations/__pycache__/0005_auto_20210324_1303.cpython-38.pyc
django_ajax/ajax_test/__pycache__/__init__.cpython-38.pyc
django_ajax/ajax_test/__pycache__/admin.cpython-38.pyc
django_ajax/ajax_test/__pycache__/apps.cpython-38.pyc
django_ajax/ajax_test/__pycache__/forms.cpython-38.pyc
django_ajax/ajax_test/__pycache__/models.cpython-38.pyc
django_ajax/ajax_test/__pycache__/urls.cpython-38.pyc
django_ajax/ajax_test/__pycache__/views.cpython-38.pyc
django_ajax.code-workspace
django_ajax/db.sqlite3
django_ajax/ajax_test/migrations/0001_initial.py
django_ajax/ajax_test/migrations/0002_fileupload_status.py
django_ajax/ajax_test/migrations/0003_auto_20210324_1219.py
django_ajax/ajax_test/migrations/0004_auto_20210324_1302.py
django_ajax/ajax_test/migrations/0005_auto_20210324_1303.py
